$ease: cubic-bezier(.23, 1, .32, 1);

li[class*="event"] {
  $width: 10;

  background: green;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .5s $ease;
  width: 10px;
  margin-left: $width/2 * -1px;
  z-index: 2;

  &.is-active {
  	height: 120%;
  	margin-left: ($width) * -1px;
  	width: ($width * 2) * 1px;
  }
}
