html {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body,
html,
main,
section,
ul {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

body,
html,
main {
  height: 100%;
}

ul {
  list-style: none;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
}